// ***************************
// Buttons

.btn {
	line-height: 1.25;
	padding: 5px 12px;
	font-weight: bold;
	display: inline-block;
	border-radius: 100px;
	word-wrap: break-word;
	border: 2px solid;
	letter-spacing: -0.02em;
	transition: background 0.1s;
	position: relative;
	outline: none;
	cursor: pointer;
	background: transparent;
	transition: all .2s ease-in-out;

	&.small, &.bs-small {
		padding: 4px 10px;
		vertical-align: middle;
	}
}
.btn {
	//border: 1px solid rgba($black,0.1);

	&:active {
		background: darken($grey,10%);
	}
	&:hover {
		background: $blue;
		color: #fff;
		transform: scale(1.05);
	}
	&:focus {
		box-shadow: 0 0 0 4px rgba($grey,0.2);
	}
	&.on {
		background: $mid-grey;
		color: #fff;
	}

	.icon {
		vertical-align: middle;
		margin-left: 8px;
		margin-top: 0.1em;
	}
}
.btn--dark {
	border-color: $background;

	&:active,&:hover,&:focus {
		background: $background;
	}
}
.btn--blue {
	border-color: $blue;

	&:active,&:hover,&:focus {
		background: $blue;
	}
	&--fill {
		background: $blue;
	}
}
.btn--red {
	border-color: $red;

	&:active,&:hover,&:focus {
		background: $red;
	}
	&.btn--fill {
		background: $red;
	}
}
.btn--yellow {
	border-color: $yellow;

	&:active,&:hover,&:focus {
		background: $yellow;
		color: $black;
	}
}
.btn--green {
	border-color: $green;

	&:active,&:hover,&:focus {
		background: $green;
	}
}
.btn.btn--disabled,
.btn.btn--disabled:hover
.btn.btn--disabled:active {
	background: #E5E4E4;
	color: $grey;
	cursor: not-allowed;
}

.btn span[class^="ss-"] {
	vertical-align: middle;
	line-height: 100%;
}

.btn--full-width {
	display: block;
}
input.btn--full-width,
button.btn--full-width {
	width: 100%;
}
@media #{$break-small} {
	.bs-btn--full-width {
		display: block;
	}
	input.bs-btn--full-width,
	button.bs-btn--full-width {
		width: 100%;
	}
}

.btn.loading {
	padding-left: 40px;
	cursor: wait;

	&:after {
		height: 19px;
		left: 15px;
		bottom: 0;
		top: 50%;
		margin-top: -10px;
		vertical-align: middle;
		position: absolute;
		font-family: "FontAwesome";
		content: "\f110";
		animation: spin 1s linear infinite both;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}


// ***************************
// Default form elements

label {
	font-weight: bold;
	margin-bottom: 10px;
	display: block;

	a {
		border-bottom: 1px solid $bdr-grey;
	}
	a:hover {
		color: $blue;
	}
}
textarea,
input[type=password],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=url],
select,
.input {
	display: inline-block;
	width: 100%;
	margin: 0;
	color: rgba(0,0,0,.5);
	background-color: #fff;
	padding: 5px 10px;
	appearance: none;
	outline: none;
	border: 1px solid $bdr-grey;
	transition: border-color .05s;
	border-radius: $radius;
	box-sizing: border-box;
	transition: box-shadow 0.3s;

	// &:focus {
	// 	box-shadow: 0 0 0 4px rgba($blue,0.1);
	// 	border-color: $blue;
	// 	color: #404040;
	// }
	&.invalid,&.error {
		box-shadow: 0 0 0 4px rgba($red,0.05);
		border-color: $red;
	}
	&.success {
		box-shadow: 0 0 0 4px rgba($green,0.1);
		border-color: $green;
	}
	&.delta {
		height: 30px;
	}
}
textarea {
	height: auto;
}
select {
	cursor: pointer;

	background-color: none;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDA4IDcwNHEwIDI2LTE5IDQ1bC00NDggNDQ4cS0xOSAxOS00NSAxOXQtNDUtMTlsLTQ0OC00NDhxLTE5LTE5LTE5LTQ1dDE5LTQ1IDQ1LTE5aDg5NnEyNiAwIDQ1IDE5dDE5IDQ1eiIvPjwvc3ZnPg==);
	background-size: 18px auto;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 50%;
}