.list--no-style {
	list-style: none;
}

.list--line {
	list-style: none;

	li {
		border-bottom: 1px solid #eee;
		padding: 10px 0;

		&:last-of-type {
			border-bottom: none;
		}
	}
	a {
		display: block;
	}
}

.list--quotes {
	list-style: none;
}

.list--tick {
	margin-top: -0.3em;

	li {
		list-style: none;
		padding: 0.5em 0;
		border-bottom: 1px solid #e8f0f7;
		background: url(/assets/img/tick.svg) no-repeat 0 50%;
		background-size: auto 17px;
		padding-left: 35px;

		&--noTick {
			background: none;
			padding-left: 0;
		}
		a {
			border-bottom: 1px solid #e8f0f7;

			&:hover {
				border-bottom-color: $green;
			}
		}

		&:last-of-type {
			border-bottom: none;
		}
	}
}

// ***************************
// List with links

.list--native {
	li {
		list-style: disc;
		margin-left: $margin + 5px;
	}
}


// ***************************
// Inline list seperated by dots

.list--inline,
.list--breadcrumb,
.list--pipe {
	li {
		list-style: none;
		margin-right: 0.7em;
		display: inline-block;

		.fa {
			font-size: 0.8em;
		}
		&:after {
			content: '·';
			padding-left: 0.8em;
			font-weight: bold;
		}
		&:last-of-type:after {
			content: '';
			padding-left: none;
		}
	}
}
.list--breadcrumb {
	li:after {
		content: '›';
	}
}
.list--pipe {
	li:after {
		content: '|';
	}
}
