{
  "app": {
    "name": "dadi.co website - development"
  },
  "server": {
    "host": "127.0.0.1",
    "port": 4112
  },
  "api": {
    "host": "127.0.0.1",
    "port": 4111,
    "enabled": false
  },
  "auth": {
    "tokenUrl":"/token",
    "clientId":"testClient",
    "secret":"superSecret"
  },
  "global" : {
    "baseUrl": "http://www.example.com"
  },
  "paths": {
    "datasources": "./workspace/datasources",
    "events": "./workspace/events",
    "media": "./workspace/media",
    "middleware": "./workspace/middleware",
    "pages": "./workspace/pages",
    "partials": "./workspace/partials",
    "public": "./workspace/public",
    "routes": "./workspace/routes",
    "helpers": "./workspace/utils/helpers",
    "filters": "./workspace/utils/filters"
  },
  "rewrites": {
    "forceTrailingSlash": true
  }
}
